@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: MontserratReg;
    src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: MontserratBold;
    src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}